name: Onchain CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'apps/onchain/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'apps/onchain/**'

jobs:
  onchain-checks:
    name: Test Suite
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./apps/onchain

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: stable
        targets: wasm32-unknown-unknown

    - name: Cache dependencies
      uses: Swatinem/rust-cache@v2
      with:
        workspaces: "apps/onchain"

    - name: Check formatting
      run: cargo fmt --all -- --check

    - name: Run clippy
      run: cargo clippy --all-targets --all-features -- -D warnings

    - name: Build Contracts
      run: cargo build --target wasm32-unknown-unknown --release

    - name: Run tests
      run: cargo test
